{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}homepage {% endblock%}</title>
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bs4/bootstrap.min.css ' %}" />
    <!-- Main Jquery -->
    <script type="text/javascript" src="{% static 'vendor/jquery.min.js' %} "></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="{% static '/vendor/bs4/bootstrap.min.js' %}"></script>
</head>

<body>
    <!-- Top News -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="/">Kumwesu News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-news' %}">All News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-category' %}">All Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock%}

    <hr/>
    <!-- <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer> -->
</body>

</html>